---
import stateConfig from '~@/slate.config';
import type { ThemeOptions } from '@/typings/config';
import ThemeSelect from '@/components/theme-select';

interface Props {
  copyright?: string;
}

const { copyright = stateConfig.footer?.copyright } = Astro.props;
---

<footer class="mt-auto flex items-center justify-between pt-6">
  <div class="text-slate8 text-sm">{copyright}</div>
  {/* S theme selection */}
  {(stateConfig.theme as ThemeOptions).enableUserChange && <ThemeSelect client:visible />}
  {/* E theme selection */}
</footer>
