---
import slateConfig from '~@/slate.config';

interface Props {
  avatar?: string;
}

const { avatar = slateConfig.avatar } = Astro.props;
---

<header>
  <div class="mb-9 h-14 w-14 whitespace-nowrap text-[0px]">
    <img
      class="block h-full w-full rounded-full border-2 border-white bg-slate2 shadow-xs outline-1 outline-slate3"
      src={avatar}
      alt={slateConfig.title}
      draggable="false"
    />
    <span>{slateConfig.title}</span>
  </div>
</header>
