.DocSearch-Button {
  --docsearch-searchbox-background: rgb(17 17 17 / 0.05);
  --docsearch-muted-color: rgb(17 17 17 / 0.7);
  display: flex;
  align-items: center;
  margin: 0;
  height: 40px;
  padding: 0 16px;

  .DocSearch-Button-Placeholder {
    display: none;
  }

  .DocSearch-Search-Icon {
    color: rgb(17 17 17 / 0.7);
  }

  .DocSearch-Button-Keys {
    min-width: auto;
    margin-left: 8px;
  }

  .DocSearch-Button-Key {
    top: 0;
    margin-right: 0;
    background: transparent;
    box-shadow: none;

    &:first-of-type {
      padding-top: 1px;
      font-size: 20px;

      &::after {
        content: '+';
        position: relative;
        top: -1px;
        left: 2px;
        font-size: 16px;
      }
    }
  }
}
